.inline{
    display: inline-block;
    margin-right: 20px;
}

.dropdown{
    background-color: #477370;
    max-width: 140px;
}

.clickable{
    cursor: pointer;
}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 0px solid #DDD;
    margin-top: 4px;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.inlineColor{
    display: inline;
}

.colorPicker{
    position: absolute;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #c1c1c1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #9bfff4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #9bfff4;
    cursor: pointer;
}

#controls a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 12px;
  }
  
  #controls a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }

  .controls{
    margin-left: 36px;
  }