#prepare{
    margin-left: 8px;
    margin-bottom: 8px;
}

#info{
    border: solid 1px #578c87;
    background-color:  #1f3331;
    width: 550px;
    display: inline-block;
    height: 160px;
    vertical-align: top;
    padding: 4px;
    margin-left: 8px;
}

#info2{
    border: solid 1px #578c87;
    background-color: #1f3331;
    margin-left: 8px;
    width: 150px;
    display: inline-block;
    height: 160px;
    vertical-align: top;
    padding: 4px;
}

#instructions{
    margin-top: 8px;
    width: 550px;
    color: #fff;
    margin-left: 8px;
}

.important{
    color: rgb(255 184 0);
}

.container {
    width: 100%;
}

.table {
    font-size: 14px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 4px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 4px;
    padding-left: 4px;
}

.borderDiv {
    min-width: 310px;
    padding-right: 4px;
    padding-left: 4px;
    border: solid 1px #578c87;
    background-color: #1f3331;
}

.containerDiv{
    float: left;
    margin-left: 8px;
}

.col {
    min-width: 310px;
    float: left;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 8px;
    border: solid 1px #578c87;
    background-color: #1f3331;
}

[tip] .tooltip {
    position: fixed;
    font-size: 16px;
    max-width: 300px;
    line-height: 20px;
    padding: 5px;
    background: white;
    border: 1px solid #ccc;
    visibility: hidden;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s, visiblity 0s;
}

[tip]:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

[tip] button {
    display: block;
    cursor: pointer;
    padding: 8px 15px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 50px;
    font-size: 18px;
    background: white;
}

[tip] button:hover {
    border-color: dodgerblue;
}

.tooltipBtn {
    background-color: transparent;
    border-radius: 16px;
    color: #578c87;
    border: solid 2px;
    font-size: 16px;
}

.subtitle {
    margin-top: -10px;
    margin-left: 24px;
    color: #47736f;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-left: 24px;
    color: rgb(155, 255, 245);
    margin-top: 0px;
    padding-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 2px 4px;
    margin-top: -3px;
}

.header{
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #9bfff4;
}

.container{
    padding-top: 20px;
}

body{
    background-color: #101918;
    color: #9bfff4;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h4{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -4px;
    margin-right: -4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 4px;
    color: rgb(155, 255, 245);
    border-bottom: solid 1px #9bfff4;
    
}

th, td {
    text-align: left;
    padding: 8px;
}

.image, .right_arm, .left_arm{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #2d4844;
}

td img {
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.btn-dismantle {
    color: #fff;
    background-color: #790000;
    border-color: rgb(76 0 0);
    padding: 2px 7px;
    margin-top: 15px;
}

.btn-dismantledisabled {
    color: #fff;
    background-color: #696969;
    border-color: rgb(76 0 0);
    padding: 2px 7px;
    margin-top: 15px;
}

.btn-assemble {
    color: #fff;
    background-color: #006900;
    border-color: rgb(0, 76, 8);
    padding: 2px 7px;
    margin-top: 15px;
}

.btn-assembledisabled {
    color: #fff;
    background-color: #696969;
    border-color: rgb(0, 76, 8);
    padding: 2px 7px;
    margin-top: 15px;
}

.btn-primary {
    background-color: #1f3331;
    border: solid 1px #578c87;
}

.btn-primary:hover {
    color: #9bfff4;
    background-color: #2d4844;
    border-color: #578c87;
}

.btn-primary.focus, .btn-primary:focus {
    color: #9bfff4;
    background-color: #2d4844;
    border-color: #578c87;
}

input {
    background-color: #1f3331;
    border: solid 1px #578c87;
}

input:focus-visible {
    outline-color: #537f7a;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #578c87;
}

.table>thead>tr>th {
    border-bottom: 2px solid #578c87;
}

thead, tbody, tfoot {
    border-top: none;
    border-bottom: none;
}

a {
    color: #fff;
    text-decoration: underline;
}

.toggle {
    float: right;
    margin-right: 4px;
    cursor: pointer;
}